################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/planters.vcxproj.user
/planters.vcxproj.filters
/planters.vcxproj
/planters.sln
/Debug/vc142.pdb
/Debug/testutil.obj
/Debug/testbox.obj
/Debug/planters.vcxproj.FileListAbsolute.txt
/Debug/planters.tlog/planters.lastbuildstate
/Debug/planters.tlog/link.write.1.tlog
/Debug/planters.tlog/link.read.1.tlog
/Debug/planters.tlog/link.command.1.tlog
/Debug/planters.tlog/CL.write.1.tlog
/Debug/planters.tlog/CL.read.1.tlog
/Debug/planters.tlog/CL.command.1.tlog
/Debug/planters.tlog
/Debug/planters.pdb
/Debug/planters.log
/Debug/planters.ilk
/Debug/planters.exe.recipe
/Debug/planters.exe
/Debug/plantermgr.obj
/Debug/box.obj
/Debug
/.vs/planters/v16/ipch/AutoPCH/d7dd0da7b149f3de/TESTBOX.ipch
/.vs/planters/v16/ipch/AutoPCH/d7dd0da7b149f3de
/.vs/planters/v16/ipch/AutoPCH/a52de3cfc20ffc04/BOX.ipch
/.vs/planters/v16/ipch/AutoPCH/a52de3cfc20ffc04
/.vs/planters/v16/ipch/AutoPCH/94c4ce47f148b1a2/BOX.ipch
/.vs/planters/v16/ipch/AutoPCH/94c4ce47f148b1a2
/.vs/planters/v16/ipch/AutoPCH/8309b91caabfed60/PLANTERS.ipch
/.vs/planters/v16/ipch/AutoPCH/8309b91caabfed60
/.vs/planters/v16/ipch/AutoPCH/3527c46290b09afb/TESTUTIL.ipch
/.vs/planters/v16/ipch/AutoPCH/3527c46290b09afb
/.vs/planters/v16/ipch/AutoPCH/1133f4dc389d1b83/PLANTERMGR.ipch
/.vs/planters/v16/ipch/AutoPCH/1133f4dc389d1b83
/.vs/planters/v16/ipch/AutoPCH
/.vs/planters/v16
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/cs260project4/v16/Browse.VC.db
/.vs/cs260project4/v16/.suo
/.vs/cs260project4/v16/ipch/AutoPCH/f9d50346ee7879d/BOXTREE.ipch
/.vs/cs260project4/v16/ipch/AutoPCH/f9d50346ee7879d
/.vs/cs260project4/v16/ipch/AutoPCH/d5f94cb57f523a95/BOXLIST.ipch
/.vs/cs260project4/v16/ipch/AutoPCH/d5f94cb57f523a95
/.vs/cs260project4/v16/ipch/AutoPCH/6f8ed5465823c304/BST.ipch
/.vs/cs260project4/v16/ipch/AutoPCH/6f8ed5465823c304
